body,
#rStudioHeader,
#main,
#navPanel,
.contentContainer,
.genMessage,
.emptyListMessage {
  color: #eeeeee !important;
  background-color: #252525 !important;
}

span.actionTitle {
  color: #eeeeee !important;
}

span.actionTitle:hover {
  color: #505050 !important;
}

.menuSectionTitle.notActive,
.menuItem:not(:hover) {
  color: #eeeeee !important;
}

#currentUser:hover,
a.menuItem:hover {
  color: #505050 !important;
}

button:hover {
  color: #eeeeee !important;
}

form .toggleableInfo,
.popupMenu.open,
.modalDialog > .message,
.modalDialog {
  color: #eeeeee !important;
  background-color: rgba(25, 25, 25, 0.9) !important;
}

#mainCover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
